<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="ElmiranConnectionString" connectionString="Data Source=AMIR-PC\SQL2008ENT;Initial Catalog=Elmiran;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="ElmiranConnectionString" connectionString="Data Source=144.76.74.98;Initial Catalog=elmiran.org_bedelthtab;User Id=elmiran.org_dbelmuser; Password=7uRrko94Z5db3" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc" timeout="20" cookieless="false"/>
    <trace enabled="false"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="300" maxRequestLength="11000"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="myphandlerwildreftpdf" verb="*" path="*.pdf" resourceType="Unspecified" type="myphandlerwildref"/>
      <add name="myphandlerwildreftdoc" verb="*" path="*.doc" resourceType="Unspecified" type="myphandlerwildref"/>
      <add name="myphandlerwildreftdocx" verb="*" path="*.docx" resourceType="Unspecified" type="myphandlerwildref"/>
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaymentGatewayImplementationServiceBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentGatewayImplementationServiceBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.zarinpal.com/pg/services/WebGate/service"
        binding="basicHttpBinding" bindingConfiguration="PaymentGatewayImplementationServiceBinding"
        contract="Zarinpal.PaymentGatewayImplementationServicePortType"
        name="PaymentGatewayImplementationServicePort" />
    </client>
  </system.serviceModel>
</configuration>